



@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap');


*{
    font-family: 'Prompt', sans-serif;;
}

.modify-input{
    display: block;
    width: 200px;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-login {
    background-color: #f4062c;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.mt-1{
    margin-top: 10px;
}

.mb-2{
    margin-bottom: 20px;
}
.mb-4{
    margin-bottom: 40px;
}

.order1{
    order: 1;
}
.order2{
    order: 2;
}

.row::after{
    content: "";
  clear: both;
  display: table;
}

[class*=col-]{
    float: left;
}

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (max-width: 999px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .d-s-none {display: none;}
  }

@media only screen and (min-width: 1000px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .d-none {display: none;}
  }